body{
    background: linear-gradient(0.25turn, #00b8ff, #ffffff, #00b8ff);
}

h1{
    text-align: center;
    margin: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    padding: 10px;
    
}