@font-face{
    font-family: "Barlow";
    src: url("../police/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

body{
    font-family: "Barlow";
}

.logo{
    width:auto;
    height:60px;
}

.div-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoSearch{
    width:auto;
    height: calc(1.5em + 0.75rem + 2px);
    background-color:#0197fd;
    padding: 5px;

}

.property-price{
    font-weight:700;
}

.sold{
    width:150px;
    position:absolute;
}


footer{
    margin-top: 10px;
}

.form-control-not-radius{
    border-radius: 0 !important;
}

